openapi: 3.0.4
info:
  title: DKIM Validator
  description: >-
    DKIM Validator checks the DomainKeys Identified Mail (DKIM) DNS records for
    a domain to verify that they are present and correctly formatted.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/dkimvalidator:
    get:
      summary: Validate DKIM Record
      description: >-
        DKIM Validator checks the DomainKeys Identified Mail (DKIM) DNS records
        for a domain to verify that they are present and correctly formatted.
      operationId: dkimvalidator
      parameters:
        - name: domain
          in: query
          schema:
            type: string
          required: true
          description: The domain to validate the DKIM record for
          example: google.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  selector: '20230601'
                  host: google.com
                  dkim_host: 20230601._domainkey.google.com
                  cname_target: null
                  has_dkim_record: true
                  dkim_record: >-
                    v=DKIM1; k=rsa;
                    p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4zd3nfUoLHWFbfoPZzAb8bvjsFIIFsNypweLuPe4M+vAP1YxObFxRnpvLYz7Z+bORKLber5aGmgFF9iaufsH1z0+aw8Qex7uDaafzWoJOM/6lAS5iI0JggZiUkqNpRQLL7H6E7HcvOMC61nJcO4r0PwLDZKwEaCs8gUHiqRn/SS3wqEZX29v/VOUVcI4BjaOz
                  dkim_records_count: 1
                  version: DKIM1
                  key_type: rsa
                  key_bits: 1416
                  is_test_mode: false
                  issues_found:
                    - code: WEAK_PUBLIC_KEY_BITS
                      type: warning
                      message: Public key uses weak 1416 bits
                  valid: true
                  risk_score: 25
                  risk_level: medium
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
